<div class="">
  <div class="col-md-4">
    <h3 class="text-primary">Searches</h3>

    <form ng-submit="searchProfile()">
      <div>
        <input ng-model="search.text" class="form-control" placeholder="Enter name">
      </div>
    </form>

    <div ng-repeat="searched in searchedProfiles.slice().reverse()" class="top-buffer" 
    ng-click="forceFocusSearchedProfile(searched)">
      <div class="well" ng-class="{'focused': searched.focused, 'selection-complete': searched.selectionComplete}">
        {{searched.text}}
      </div>
    </div>

    
  </div>
  <div class="col-md-4">
    <h3 class="text-primary">Suggestions</h3>

    <div ng-repeat="suggested in suggestedProfiles" class="well" ng-class="{'focused': suggested.selected}"
    ng-drag="true" ng-drag-data="suggested">
      <span>{{suggested.firstName}}</span><br>
      <span>{{suggested.lastName}}</span><br>
      <span>{{suggested.company}}</span><br>
      <span>{{suggested.proffesion}}</span><br>
    </div>

  </div>
  <div class="col-md-4">
    <h3 class="text-primary">Selections</h3>
    <div ng-drop="true" ng-drop-success="forceSelectProfile($data)" ng-class="{'drop-zone': !dragging}">
      <h3 ng-show="!dragging" class="bold text-muted">Drop suggestions</h3>
      <div ng-repeat="selected in selectedProfiles" class="well" ng-click="forceFocusSelectedProfile(selected)"
      ng-class="{'focused': selected.focused}">
        <span>{{selected.firstName}}</span><br>
        <span>{{selected.lastName}}</span><br>
        <span>{{selected.company}}</span><br>
        <span>{{selected.proffesion}}</span><br>
      </div>
    </div>
  </div>
</div>