body {
	background: #3b4b54;
	/*color: #C7C7C7;*/
}

.bot-buffer {
	margin-bottom: 5px;
}

.top-buffer {
	margin-top: 5px;
}

.focused {
	background-color: #9DC8A8;
}

.selection-complete {
	border: 3px solid #00C302;
}

.input-xs {
	padding-bottom: 2px;
	width: 15px;
	height: 30px;
	border: none;
}

.input-group {
	margin-top: 20px;
}

.profile-card {
	
}

.drop-zone {
	min-height: 100px;
	border: 3px dashed blue;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}
